@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-color: #f2f2f2;
}

.fuente-boda {
    font-family: 'Dancing Script', cursive;
}

.color-whatsapp {
    color:#00a884 !important;
    border-color:#00a884 !important;
}

.color-whatsapp:hover {
    background-color: #00a884 !important;
    color: white !important;
}

.color-llamada {
    color:#045185 !important;
    border-color:#045185 !important;
}

.color-llamada:hover {
    background-color: #045185 !important;
    color: white !important;
}
