@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-color: #f2f2f2;
}

.fuente-boda {
    font-family: 'Dancing Script', cursive;
}

.fondo-whatsapp {
    background-color: #00a884;
}

.fondo-llamada {
    background-color: #045185;
}

